<section id="panelTabla" class="panel-tabla">

    <div class="toolbar-tabla">

        <div
            class="ref-registros-contador"
            id="contadorResultadosBuscador">

            Resultados encontrados:
            <strong>{{ total_registros }}</strong>

        </div>

        <div class="toolbar-izquierda">

            <input
                type="text"
                id="buscarTabla"
                class="buscar-tabla"
                placeholder="🔍 Buscar medicamento...">

        </div>

        <div class="toolbar-derecha">

            <label> Mostrar </label>

            <select id="filtroTabla">

                <option value="todos">Todos</option>
                <option value="ACEPTAR">Aceptar</option>
                <option value="RENEGOCIAR">Renegociar</option>
                <option value="DUPLICADO">Duplicados</option>
                <option value="ACTIVO">Activos</option>
                <option value="NO ACTIVO">No activos</option>

            </select>            

            <button
                id="btnExportar"
                class="btn-exportar-excel">

                <img
                    src="{{ url_for('static', filename='img/excel.png') }}" style="margin-right: 8px;">
                    Exportar

            </button>

        </div>

    </div>

    <div class="tabla-scroll">

        <table
            class="tabla-negociacion"
            id="tablaNegociacion">

            <thead>

                <tr>

                    {% for columna in columnas %}
                        <th>{{ columna }}</th>
                    {% endfor %}

                </tr>

            </thead>

            <tbody id="tbodyTablaNegociacion">

                {% if tabla %}

                    {% for fila in tabla %}

                        <tr>

                            {% for valor in fila.values() %}
                                <td>{{ valor }}</td>
                            {% endfor %}

                        </tr>

                    {% endfor %}

                {% else %}

                    <tr>

                        <td
                            colspan="{{ columnas|length }}"
                            class="tabla-vacia-celda">

                            <div class="icono-tabla">
                                📄
                            </div>

                            <h3>
                                No hay información para mostrar
                            </h3>

                            <p>
                                Seleccione una hoja para iniciar el proceso.
                            </p>

                        </td>

                    </tr>

                {% endif %}

            </tbody>

        </table>

    </div>

    <div class="tabla-footer">

        <div
            id="paginadorTabla"
            class="paginador-tabla">
        </div>

    </div>

</section>