<section>

    <div class="botones-menu">

        <a href="/referencia" class="btn-principal btn-referencia">
            Referencia
            <img src="{{ url_for('static', filename='img/referencia.png') }}" class="btn-icono">
        </a>

        <a href="/negociacion" class="btn-principal btn-negociacion">
            Negociacion
            <img src="{{ url_for('static', filename='img/negociacion.png') }}" class="btn-icono">
        </a>  

        <a href="/descargas" class="btn-principal btn-descargas">
            Descargas
            <img src="{{ url_for('static', filename='img/descarga.png') }}" class="btn-icono">
        </a>

    </div>

</section>