V.BETA 6.0.072026 
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>{% block titulo %}{% endblock %}</title>

    <link rel="shortcut icon"
      href="{{ url_for('static', filename='img/Logo_SANEM.png') }}">
    
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}">

    {% block estilos %}{% endblock %}

    <link rel="stylesheet"
        href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">
    
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/menu.css') }}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/negociacion.css') }}">

</head>

<body>

    {% include 'components/sidebar.html' %}

    {% include 'components/header.html' %}

    {% block contenido %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>

    <script src="{{ url_for('static', filename='js/negociacion.js') }}"></script>

    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

    <!-- Vinculación del archivo JS externo con Flask -->
    <script src="{{ url_for('static', filename='js/referencia.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{{ url_for('static', filename='js/mensajes.js') }}"></script>

    {% block scripts %}

    {% endblock %}

</body>

</html>