<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">>

    <title>
        SANEM | {% block titulo %}{% endblock %}
    </title>

    <link rel="icon"
      href="/favicon.ico">

    <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/base.css') }}?v=1.1">>

    {% block estilos %}{% endblock %}

    <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/menu.css') }}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/negociacion.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/footer.css') }}">

</head>

<body>

    {% include 'components/sidebar.html' %}

    {% include 'components/header.html' %}

    {% block contenido %}

    {% endblock %}

    <!-- 1. PRIMERO LAS LIBRERÍAS EXTERNAS BASE -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- 2. SEGUNDO TUS ENLACES DE MENSAJES PROPIOS (Para que Mensajes esté disponible globalmente) -->
    <script src="{{ url_for('static', filename='js/mensajes.js') }}"></script>

    <!-- 3. TERCERO TUS SCRIPTS OPERATIVOS LOCALES -->
    <script src="{{ url_for('static', filename='js/negociacion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/referencia.js') }}"></script>

    <!-- 4. AL FINAL LOS BLOQUES INYECTADOS POR LAS PÁGINAS HIJAS -->
    {% block scripts %}

    {% endblock %}

    {% include 'components/footer.html' %}

</body>
</html>