<footer class="sanem-footer">
    
    <div class="footer-contenido">

        <div class="footer-izquierda">

            <img
                src="{{ url_for('static', filename='img/Objetivos.png') }}"
                class="footer-objetivos"
                alt="Objetivos SANEM">
        
        </div>

        <div class="footer-centro">

            <h3>SANEM</h3>

            <p>
                Sistema de Análisis para Negociación Estratégica
                de Medicamentos
            </p>

            <span>
                Desarrollado por
            </span>

            <strong>
                Ing. Jorge Sánchez Romero
            </strong>

            <br>

            <h4 class="version">Version beta 8.0.202607</h4>

        </div>

        <div class="footer-derecha">

            <img
                src="{{ url_for('static', filename='img/logo_gm.png') }}"
                class="footer-gm"
                alt="Gerencia de Medicamentos">

        </div>

    </div>

</footer>