<header class="header-principal">

    <div class="logo-panel">

        <button id="btnMenu" class="btn-menu">
            ☰
        </button>

        <img
            src="{{ url_for('static', filename='img/logo_sanitas.png') }}"
            alt="EPS Sanitas">

    </div>

    <div class="titulo-panel-header">

        <h1>Herramienta Negociación</h1>

    </div>

    <div class="logo-panel">

        <img
            src="{{ url_for('static', filename='img/logo_gm.png') }}"
            alt="Gerencia de Medicamentos">

    </div>

</header>